*{
    text-align: center;
}

body {
    background-color: rgba(145, 129, 129, 0.993);
    font-weight: bold;
}

h1 {
    width: 360px;
    background-color: rgb(102, 79, 79);
    padding: 15px;
    margin-top: 0px;
    margin: auto;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.game {
    width: 450px;
    height: 500px;
    margin: auto;
}

.level {
    padding: 5px;
    border-radius: 5px;
    margin-top:10px;
    text-shadow: 2px 2px 5px brown;
    background-color: rgb(102, 79, 79);
    font-weight: bold;
   
}

.restarter{
    width: 70px;
    height: 50px;
    margin: 10px;
    font-size: 2em;
    border-radius: 7px;
    background-color: rgb(102, 79, 79);
}

.timer {
    width: 120px;
    height: 20px;
    padding: 2px;
    background-color: rgb(102, 79, 79);
    border: 1px solid black;
    border-radius: 5px;
    display: inline;
}


.board-container{
    width: 340px;
    height: 340px;
    background-color: gray;
    margin: auto;
    margin-top: 10px;
    
} 

table{
    width: 350px;
    height: 350px;
} 

tbody {
    margin: auto;
}

.cell {
    width: 25%;
    height: 25%;
    font-size: 2em;
    background-color: rgb(71, 70, 70);
    margin: auto;
    position: relative;
}

.big-cell {
    width: 25%;
    height: 25%;
    font-size: 2em;
    background-color: rgb(71, 70, 70);
    margin: auto;
}

.medium-cell{
    width: 12.5%;
    height: 12.5%;
    font-size: 1em;
    background-color: rgb(71, 70, 70);
    margin: auto;
}

.small-cell{
    width: 8.333%;
    height: 8.333%;
    background-color: rgb(71, 70, 70);
    margin: auto;
    font-size: 1em;
    font-weight: bolder;
}

.clicked {
    background-color: rgb(151, 147, 147);
}

.marked {
    background-color: rgb(105, 80, 80);
    background-image: url("../images/red flag2.png");
    background-size: cover;
}

.mine {
    background-color: rgb(151, 147, 147);
    background-image: url("../images/mine.png");
    background-size: cover;
}

.down {
    background-color: rgb(102, 79, 79);
    width: 360px;
    height: 60px;
    padding: 15px;
    /* border: 1px solid black; */
    /* border-radius: 7px; */
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1.2em;
    
}

.hints {
    width: 150px;
    height: 40px;
    padding: 10px;
    display: inline-block;
    
    margin-left: 10px;
    text-align: left;
    position: relative;
}

.hints span{
    width: 25px;
    height: 30px;
    background-image: url("../images/hint.png");
    background-size: cover;
    border-radius: 50%;
    /* padding: 10px; */
    display: inline-block;
    /* margin: none; */
}

.selected-hint {
    background-color: rgba(255, 255, 0, 0.164);
    
}

.lives-conteiner {
    width: 150px;
    height: 30px;
    display: inline-block;
}

.lives {
    width: 150px;
    height: 30px;
    padding: 10px;
    display: none;
    text-align: left;
}

.safe {
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
    text-shadow: 2px 2px 5px brown;
    background-color: rgb(102, 79, 79);
    font-weight: bold;
}

footer {
    margin-top: 40px;
}

